#generic-post {

  $cpSection1_lg_padding_top_bottom: 100px;
  $cpSection1_lg_padding_left_right: 100px;
  $cpSection1_tb_padding_top_bottom: 100px;
  $cpSection1_tb_padding_left_right: 100px;
  $cpSection1_mb_padding_top_bottom: 70px;
  $cpSection1_mb_padding_left_right: 50px;

  .cp-section-1 {
    @media screen and (min-width: 992px) {
      width: calc(100% - (#{$cpSection1_lg_padding_left_right} * 2));
      padding: calc(#{$cpSection1_lg_padding_top_bottom} + 60px) $cpSection1_lg_padding_left_right $cpSection1_lg_padding_top_bottom $cpSection1_lg_padding_left_right;
      background: #F4F8FC;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      width: calc(100% - (#{$cpSection1_tb_padding_left_right} * 2));
      padding: calc(#{$cpSection1_tb_padding_top_bottom} + 60px) $cpSection1_tb_padding_left_right $cpSection1_tb_padding_top_bottom $cpSection1_tb_padding_left_right;
      background: #F4F8FC;
    }
    @media screen and (max-width: 767px) {
      width: calc(100% - (#{$cpSection1_mb_padding_left_right} * 2));
      padding: calc(#{$cpSection1_mb_padding_top_bottom} + 60px) $cpSection1_mb_padding_left_right $cpSection1_mb_padding_top_bottom $cpSection1_mb_padding_left_right;
      background: #F4F8FC;
    }
  }

  $cpSection2_lg_padding_top: 100px;
  $cpSection2_lg_padding_left: 100px;
  $cpSection2_lg_padding_right: 100px;
  $cpSection2_lg_padding_bottom: 100px;
  $cpSection2_tb_padding_top_bottom: 0px;
  $cpSection2_tb_padding_left_right: 50px;
  $cpSection2_mb_padding_top_bottom: 0px;
  $cpSection2_mb_padding_left_right: 20px;

  .cp-section-2 {
    @media screen and (min-width: 992px) {
      width: calc(100% - (#{$cpSection2_lg_padding_left} + #{$cpSection2_lg_padding_right}));
      padding: $cpSection2_lg_padding_top $cpSection2_lg_padding_left $cpSection2_lg_padding_bottom $cpSection2_lg_padding_right;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      width: calc(100% - (#{$cpSection2_tb_padding_left_right} * 2));
      padding: $cpSection2_tb_padding_top_bottom $cpSection2_tb_padding_left_right;
    }
    @media screen and (max-width: 767px) {
      width: calc(100% - (#{$cpSection2_mb_padding_left_right} * 2));
      margin-bottom: 60px;
      padding: $cpSection2_mb_padding_top_bottom $cpSection2_mb_padding_left_right;
    }
  }
}
