@font-face {
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: normal;
	src: url('CircularStd-Book.eot') format('eot'),
	     url('CircularStd-Book.ttf') format('ttf'),
	     url('CircularStd-Book.woff') format('woff'),
       url('CircularStd-Book.svg') format('svg'),
       url('CircularStd-Book.otf') format('otf');
}

@font-face {
	font-family: 'Circular Std';
	font-weight: bold;
	src: url('CircularStd-Bold.eot') format('eot'),
	     url('CircularStd-Bold.ttf') format('ttf'),
	     url('CircularStd-Bold.woff') format('woff'),
       url('CircularStd-Bold.svg') format('svg'),
       url('CircularStd-Bold.otf') format('otf');
}
