.cp-navbar {
  @media screen and (min-width: 992px) {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px #DDE5ED;
    z-index: 1000;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px #DDE5ED;
    z-index: 1000;
  }
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px #DDE5ED;
    z-index: 1000;
  }
}

.cp-navbar__inner {
  @media screen and (min-width: 992px) {
    padding: 0 20px 0 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    padding: 0 20px 0 20px;
  }
  @media screen and (max-width: 767px) {
    padding: 0 20px 0 20px;
  }
}

.cp-navbar__hamburger {
  @media screen and (min-width: 992px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 30px;
    margin: 15px 0;
  }
  @media screen and (max-width: 767px) {
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 30px;
    width: 30px;
    margin: 15px 0;
  }
}

.cp-navbar__hamburger__icon {
  @media screen and (min-width: 992px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    position: absolute;
    margin-top: 15px;
    display: inline-block;
    width: 30px;
    height: 2px;
    border-top: 2px solid #4F739A;
    -webkit-transition: border-color .1s;
    transition: border-color .1s;
  }
  @media screen and (max-width: 767px) {
    position: absolute;
    margin-top: 15px;
    display: inline-block;
    width: 30px;
    height: 2px;
    border-top: 2px solid #4F739A;
    -webkit-transition: border-color .1s;
    transition: border-color .1s;
  }
}

.cp-navbar__hamburger__icon::before {
  @media screen and (min-width: 768px) and (max-width: 991px) {
    top: -10px;
  }
  @media screen and (max-width: 767px) {
    top: -10px;
  }
}

.cp-navbar__hamburger__icon::after {
  @media screen and (min-width: 768px) and (max-width: 991px) {
    bottom: -6px;
  }
  @media screen and (max-width: 767px) {
    bottom: -6px;
  }
}

.cp-navbar__hamburger__icon::before, .cp-navbar__hamburger__icon::after {
  @media screen and (min-width: 768px) and (max-width: 991px) {
    content: ' ';
    position: absolute;
    border-top: 2px solid #4F739A;
    height: 0;
    left: 0;
    right: 0;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }
  @media screen and (max-width: 767px) {
    content: ' ';
    position: absolute;
    border-top: 2px solid #4F739A;
    height: 0;
    left: 0;
    right: 0;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }
}

.cp-navbar__actions {
  @media screen and (min-width: 992px) {
    float: right;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    margin: -3px -20px 0 -20px;
    overflow-y: hidden;
    height: 0px;
    -webkit-transition: height .2s ease-out;
    -moz-transition: height .2s ease-out;
    -ms-transition: height .2s ease-out;
    -o-transition: height .2s ease-out;
    transition: height .2s ease-out;

    &[data-navbar-open=true] {
      height: 180px;
    }
  }
  @media screen and (max-width: 767px) {
    margin-left: -20px;
    margin-right: -20px;
    background: rgba(255, 255, 255, .8);
    box-shadow: 0 2px 4px #DDE5ED;
    overflow-y: hidden;
    height: 0px;
    -webkit-transition: height .2s ease-out;
    -moz-transition: height .2s ease-out;
    -ms-transition: height .2s ease-out;
    -o-transition: height .2s ease-out;
    transition: height .2s ease-out;

    &[data-navbar-open=true] {
      height: 266px;
    }
  }
}

.cp-navbar__links {
  @media screen and (min-width: 992px) {
    display: block;
    float: left;
    padding: 0;
    height: 100%;
    margin: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    background: rgba(255, 255, 255, .8);
    box-shadow: 0 2px 4px #DDE5ED;
    margin: 0;
    padding: 0;
  }
  @media screen and (max-width: 767px) {
    display: block;
    padding: 0;
    width: 100%;
    margin: 0;
  }
}

.cp-navbar__buttons {
  @media screen and (min-width: 992px) {
    display: block;
    float: left;
    padding: 0;
    height: 100%;
    margin: 0 0 0 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    position: absolute;
    top: -12px;
    right: 0;
    padding: 0;
  }
  @media screen and (max-width: 767px) {
    display: block;
    padding: 0;
    height: 100%;
    margin-left: 20px;
  }
}

.cp-navbar__links li {
  @media screen and (min-width: 992px) {
    display: block;
    float: left;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    display: block;
  }
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.cp-navbar__buttons li {
  @media screen and (min-width: 992px) {
    display: block;
    float: left;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    display: block;
    float: left;
  }
  @media screen and (max-width: 767px) {
    display: inline-block;
  }
}

.cp-navbar__link {
  @media screen and (min-width: 992px) {
    display: block;
    color: #4F739A;
    padding: 22px 0 22px 0;
    margin: 0 20px 0 20px;
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    display: block;
    color: #4F739A;
    padding: 22px 0 22px 0;
    margin: 0 20px 0 20px;
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  @media screen and (max-width: 767px) {
    display: block;
    color: #4F739A;
    padding: 22px 0 22px 0;
    margin: 0 20px 0 20px;
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

.cp-logo {
  @media screen and (min-width: 992px) {
    position: relative;
    top: 13px;
    height: 32px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 13px;
    left: 20px;
    height: 32px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  @media screen and (max-width: 767px) {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 13px;
    left: calc(50% - 85px);
    height: 32px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}
