* {
  @media screen and (min-width: 992px) {
    font-family: 'Circular Std';
    color: #9b9b9b;
    font-size: 13px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    font-family: 'Circular Std';
    color: #9b9b9b;
    font-size: 13px;
  }
  @media screen and (max-width: 767px) {
    font-family: 'Circular Std';
    color: #9b9b9b;
    font-size: 13px;
  }
}

html {
  @media screen and (min-width: 992px) {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  @media screen and (max-width: 767px) {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
  }
}

body {
  @media screen and (min-width: 992px) {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
  }
  @media screen and (max-width: 767px) {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
  }
}

.cp-section__title--top {
  @media screen and (min-width: 992px) {
    color: #70A4DB;
    font-size: 36px;
    font-weight: normal;
    line-height: 46px;
    margin: 10px 0 0 0;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    color: #70A4DB;
    font-size: 36px;
    font-weight: normal;
    line-height: 46px;
    margin: 10px 0 0 0;
  }
  @media screen and (max-width: 767px) {
    color: #70A4DB;
    font-size: 24px;
    font-weight: normal;
    line-height: 40px;
    margin: 10px 0 0 0;
  }
}

.cp-section__description--top {
  @media screen and (min-width: 992px) {
    color: #9b9b9b;
    font-size: 20px;
    line-height: 35px;
    font-weight: normal;
    margin: 15px 0;
    width: 537px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    color: #9b9b9b;
    font-size: 20px;
    line-height: 35px;
    font-weight: normal;
    margin: 15px 0;
    width: 537px;
  }
  @media screen and (max-width: 767px) {
    color: #9b9b9b;
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
    margin: 15px 0;
  }
}

.cp-section__title {
  @media screen and (min-width: 992px) {
    color: #70A4DB;
    font-size: 24px;
    font-weight: normal;
    line-height: 35px;
    margin: 10px 0 0 0;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    color: #70A4DB;
    font-size: 24px;
    font-weight: normal;
    line-height: 35px;
    margin: 10px 0 0 0;
  }
  @media screen and (max-width: 767px) {
    color: #70A4DB;
    font-size: 24px;
    font-weight: normal;
    line-height: 35px;
    margin: 10px 0 0 0;
  }
}

.cp-section__description {
  @media screen and (min-width: 992px) {
    color: #4F739A;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin: 20px 0;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    color: #4F739A;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin: 20px 0;
  }
  @media screen and (max-width: 767px) {
    color: #4F739A;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin: 20px 0;
  }
}

.cp-container {
  @media screen and (min-width: 992px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1404px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 991px;
  }
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 767px;
  }
}

.cp-content {
  @media screen and (min-width: 992px) {
    padding: 157px 70px 100px 70px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    padding: 100px 35px;
  }
  @media screen and (max-width: 767px) {
    padding: 100px 35px;
  }
}

h1 {
  @media screen and (min-width: 992px) {
    color: #70A4DB;
    font-size: 36px;
    font-weight: normal;
    line-height: 46px;
    margin: 10px 0 0 0;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    color: #70A4DB;
    font-size: 36px;
    font-weight: normal;
    line-height: 46px;
    margin: 10px 0 0 0;
  }
  @media screen and (max-width: 767px) {
    color: #70A4DB;
    font-size: 24px;
    font-weight: normal;
    line-height: 40px;
    margin: 10px 0 0 0;
  }
}

h3 {
  @media screen and (min-width: 992px) {
    font-size: 18px;
    font-weight: normal;
    color: #70A4DB;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    font-size: 18px;
    font-weight: normal;
    color: #70A4DB;
  }
  @media screen and (max-width: 767px) {
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    color: #70A4DB;
  }
}

h5 {
  @media screen and (min-width: 992px) {
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;
    color: #4F739A;
    margin: 15px 0 0 0;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;
    color: #4F739A;
    margin: 15px 0 0 0;
  }
  @media screen and (max-width: 767px) {
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;
    color: #4F739A;
    margin: 15px 0 0 0;
  }
}

p {
  @media screen and (min-width: 992px) {
    margin: 10px 0;
    color: #4A4A4A;
    line-height: 25px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    margin: 10px 0;
    color: #4A4A4A;
    line-height: 25px;
  }
  @media screen and (max-width: 767px) {
    margin: 10px 0;
    color: #4A4A4A;
    line-height: 25px;
  }
}

a {
  @media screen and (min-width: 992px) {
    color: #70A4DB;
    font-size: 13px;
    margin: 10px 0;
    text-decoration: underline;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    color: #70A4DB;
    font-size: 13px;
    margin: 10px 0;
    text-decoration: underline;
  }
  @media screen and (max-width: 767px) {
    color: #70A4DB;
    font-size: 13px;
    margin: 10px 0;
    text-decoration: underline;
  }
}

hr {
  @media screen and (min-width: 992px) {
    margin: 40px 0;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    margin: 40px 0;
  }
  @media screen and (max-width: 767px) {
    margin: 40px 0;
  }
}

blockquote {
  @media screen and (min-width: 992px) {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 20px;
    border-left: 5px solid #eee;
    color: #4F739A;
    line-height: 35px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 18px;
    border-left: 5px solid #eee;
    color: #4F739A;
    line-height: 30px;
  }
  @media screen and (max-width: 767px) {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 16px;
    border-left: 5px solid #eee;
    color: #4F739A;
    line-height: 30px;
  }
}

.cp-quote__header {
  @media screen and (min-width: 992px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    margin-bottom: 30px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.cp-quote__author {
  @media screen and (min-width: 992px) {
    display: inline-block;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    font-size: 20px;
    color: #4F739A;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    display: inline-block;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    font-size: 20px;
    color: #4F739A;
  }
  @media screen and (max-width: 767px) {
    display: inline-block;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    font-size: 20px;
    color: #4F739A;
  }
}

.cp-quote__company {
  @media screen and (min-width: 992px) {
    display: inline-block;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    font-size: 20px;
    color: #4F739A;
    font-weight: bold;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    display: inline-block;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    font-size: 20px;
    color: #4F739A;
    font-weight: bold;
  }
  @media screen and (max-width: 767px) {
    display: inline-block;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    font-size: 20px;
    color: #4F739A;
    font-weight: bold;
  }
}

.placeholder::before {
  @media screen and (min-width: 992px) {
    content: ' ';
    position: absolute;
    border: 2px dashed #DDE5ED;
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    content: ' ';
    position: absolute;
    border: 2px dashed #DDE5ED;
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }
  @media screen and (max-width: 767px) {
    content: ' ';
    position: absolute;
    border: 2px dashed #DDE5ED;
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }
}

.placeholder-big::before {
  @media screen and (min-width: 992px) {
    height: 75px;
    width: 75px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    height: 75px;
    width: 75px;
  }
  @media screen and (max-width: 767px) {
    height: 75px;
    width: 75px;
  }
}

.placeholder {
  @media screen and (min-width: 992px) {
    height: 50px;
    width: 50px;
    margin-right: 65px;
    margin-bottom: 15px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    height: 50px;
    width: 50px;
    margin-right: 65px;
    margin-bottom: 15px;
  }
  @media screen and (max-width: 767px) {
    height: 50px;
    width: 50px;
    margin-right: 65px;
    margin-bottom: 15px;
  }
}

.placeholder-big {
  @media screen and (min-width: 992px) {
    height: 75px;
    width: 75px;
    margin-right: 90px;
    margin-bottom: 15px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    height: 75px;
    width: 75px;
    margin-right: 90px;
    margin-bottom: 15px;
  }
  @media screen and (max-width: 767px) {
    height: 75px;
    width: 75px;
    margin-right: 90px;
    margin-bottom: 15px;
  }
}
